{{! 
    Edit tab for the consumable item. Allows user to edit the following:
    - Value of a single consumable
    - "Duality" & "Dmg" Button formulas
    - Max Number Uses Per consumable
}}

<div> {{! Main container flex col }}

    <div> {{! Value Edit area }}

    </div>

    <div> {{! Button Formula area }}

    </div>

    <div>   {{! Max uses area }}

    </div>
</div>